<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-6">
            <div class="card p-4">
                <form class="d-flex flex-column gap-3" [formGroup]="formData" (ngSubmit)="onSubmit()" novalidate
                    autocomplete="off">
                    <h1 class="text-center">Login</h1>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" class="form-control mt-2" formControlName="email">
                        @if (formData.get('email')?.touched && formData.get('email')?.invalid) {
                        <div class="text-danger">Email is required</div>
                        }
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <input type="password" id="password" class="form-control mt-2" formControlName="password">
                        @if (formData.get('password')?.touched && formData.get('password')?.invalid) {
                        <div class="text-danger">Password is required</div>
                        }
                    </div>
                    <div>
                        Don't have an account? <a routerLink="/register" class="text-blue pointer">Register</a>
                    </div>
                    <div>
                        <button class="btn btn-primary text-white w-100 py-2">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>