<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-6">
            <div class="card p-4">
                <form class="d-flex flex-column gap-3" [formGroup]="formData" (ngSubmit)="onSubmit()" novalidate
                    autocomplete="off">
                    <h1 class="text-center">Login</h1>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" class="form-control mt-2" formControlName="email">
                        @if (isValidatingForm && formData.get('email')?.invalid) {
                        <div class="text-danger">
                            {{formData.get('email')?.errors?.['required'] ? "Email is required" :
                            "Email is invalid"}}
                        </div>
                        }
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" class="form-control mt-2" formControlName="password">
                        @if (isValidatingForm && formData.get('password')?.invalid) {
                        <div class="text-danger">
                            {{formData.get('password')?.errors?.['required'] ? "Password is required" :
                            "Password is invalid"}}
                        </div>
                        }
                    </div>
                    <div>
                        Don't have an account? <a routerLink="/register" class="text-blue pointer">Register</a>
                    </div>
                    <div>
                        <button
                            class="btn btn-primary text-white w-100 py-2 d-flex justify-content-center align-items-center gap-4">
                            @if (isLoading) {
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24">
                                <path fill="white"
                                    d="M10.14,1.16a11,11,0,0,0-9,8.92A1.59,1.59,0,0,0,2.46,12,1.52,1.52,0,0,0,4.11,10.7a8,8,0,0,1,6.66-6.61A1.42,1.42,0,0,0,12,2.69h0A1.57,1.57,0,0,0,10.14,1.16Z">
                                    <animateTransform attributeName="transform" dur="0.75s" repeatCount="indefinite"
                                        type="rotate" values="0 12 12;360 12 12" />
                                </path>
                            </svg>
                            }
                            Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>